<header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark" aria-label="Sexto ejemplo de barra de navegaci贸n">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Expandir en xl</font>
                </font>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
                aria-controls="navbarsExample06" aria-expanded="false" aria-label="Navegaci贸n de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExample06">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Hogar</font>
                            </font>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Enlace</font>
                            </font>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Desactivado</font>
                            </font>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Desplegable</font>
                            </font>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Acci贸n</font>
                                    </font>
                                </a></li>
                            <li><a class="dropdown-item" href="#">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Otra acci贸n</font>
                                    </font>
                                </a></li>
                            <li><a class="dropdown-item" href="#">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">algo mas aqui</font>
                                    </font>
                                </a></li>
                        </ul>
                    </li>
                </ul>
                <form role="search">
                    <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                </form>
            </div>
        </div>
    </nav>
</header>






