<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<main>
    <!-- <section class="masthead" role="img" aria-label="Image Description">
        <h1>
            The Hero Generator
        </h1>
        <button>
            When a hero comes along
        </button>
    </section> -->
</main>

<%- include('../partials/footer.ejs') %>