<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<main>
    <!-- SECCION HERO -->
    <section class="hero">
        <div class="overlay-hero">
            <h1>La tienda de libros más grande de Buenos Aires</h1>
            <button type="button" class="col-3 btn-comprar-ahora mt-5 ">Compra ya</button>
        </div>
    </section>
    <!-- SECCION TENDENCIAS -->
    <section class="tending-books">
        <h1>Tendencias</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="weather-card one">
                        <div class="top">
                            <div class="wrapper">
                                <div class="mynav">
                                    <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
                                    <a href="javascript:;"><span class="lnr lnr-cog"></span></a>
                                </div>
                                <h1 class="heading">Clear night</h1>
                                <h3 class="location">Dhaka, Bangladesh</h3>
                                <p class="temp">
                                    <span class="temp-value">20</span>
                                    <span class="deg">0</span>
                                    <a href="javascript:;"><span class="temp-type">C</span></a>
                                </p>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="wrapper">
                                <ul class="forecast">
                                    <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
                                    <li class="active">
                                        <span class="date">Yesterday</span>
                                        <span class="lnr lnr-sun condition">
                                            <span class="temp">23<span class="deg">0</span><span class="temp-type">C</span></span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="date">Tomorrow</span>
                                        <span class="lnr lnr-cloud condition">
                                            <span class="temp">21<span class="deg">0</span><span class="temp-type">C</span></span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col">
                    <div class="weather-card rain">
                        <div class="top">
                            <div class="wrapper">
                                <div class="mynav">
                                    <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
                                    <a href="javascript:;"><span class="lnr lnr-cog"></span></a>
                                </div>
                                <h1 class="heading">Rainy day</h1>
                                <h3 class="location">Sylhet, Bangladesh</h3>
                                <p class="temp">
                                    <span class="temp-value">16</span>
                                    <span class="deg">0</span>
                                    <a href="javascript:;"><span class="temp-type">C</span></a>
                                </p>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="wrapper">
                                <ul class="forecast">
                                    <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
                                    <li class="active">
                                        <span class="date">Yesterday</span>
                                        <span class="lnr lnr-sun condition">
                                            <span class="temp">22<span class="deg">0</span><span class="temp-type">C</span></span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="date">Tomorrow</span>
                                        <span class="lnr lnr-cloud condition">
                                            <span class="temp">18<span class="deg">0</span><span class="temp-type">C</span></span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECCION OFERTAS ESPECIALES -->
    <section class="ofertas-especiales">
        <h1>Ofertas Especiales</h1>
    </section>
    
    <!-- SECCION PRÓXIMAMENTE -->
    <section class="ofertas-especiales">
        <h1>Próximamente</h1>
    </section>
    
    <!-- SECCION BANNER -->
    <section class="banner">
        <h1>BANNER</h1>
    </section>
    
    <!-- SECCION NOTICIAS -->
    <section class="news">
        <h1>Noticias</h1>
    </section>

    <!-- SECCION AYUDA -->
    <section class="news">
        <h1>¿Necesitas ayuda en decidirte?</h1>
        <p>lsdmlñmvlmdflñvmfñl</p>
        <button>kdv k</button>
    </section>

</main>

<%- include('../partials/footer.ejs') %>